body {
    background-color: #f0f0f0;
}

.title-ppal {
    color: aqua;
}

.container {
    display: flex;
}

#action {
    display: none;
}

.titulo-secundario {
    color: green;
}

.texto-general {
    color: purple;
}